__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
.env
logs/
*.png
article.json
extracted_mc_links_100.json
full_mapping_directory.json
mapping_preview.json
mc_master_mapping.json
nse_stocks.csv
nse_stocks.json
nse_stocks_formatted.json
tg_financial_news.csv
*.log
